<!-- new card code -->
<div class="main_container">
    <div class="wrapper" *ngFor="let productAll of allProduct">
        <div class="container">
            <div class="top" style="background: url({{productAll.imageUrl}}) no-repeat center center;"></div>
            <div class="bottom" id="bottom">
                <div class="left">
                    <div class="details">
                        <h1>{{productAll.name}}</h1>
                        <p>{{productAll.price | currency:"INR":"symbol"}}</p>
                    </div>
                    <div class="buy" (click)="addToCart(productAll)"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
                </div>
                <div class="right">
                    <div class="done"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div class="details">
                        <h1>Chair</h1>
                        <p>Added to your cart</p>
                    </div>
                    <div class="remove"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="inside_left" *ngIf="admin">
            <div class="icon" (click)="editItem(productAll)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></div>
        </div>
        <div class="inside_left_right" *ngIf="admin">
            <div class="icon" (click)="deleteItem(productAll)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></div>
        </div>
        <div class="inside">
            <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
            <div class="contents">
                <h4>{{productAll.description}}</h4>
            </div>
        </div>
    </div>
</div>